# Python cache
__pycache__/
*.py[cod]
*.class
*.pyc

# Environment
.venv/
env/
venv/
ENV/

# Temporary and log files
*.log
*.tmp
temp/
.tempmediaStorage/
output/blender_render/
output/debug_all_frames/
output/debug_frames/

# OS specific
Thumbs.db
.DS_Store

# Raw input videos
input_videos/*.mp4
input_videos/*.mov
input_videos/*.mpg
input_videos/*.avi

# Raw FBX character model cache
models/*.fbx

output/landmarks_json/*.json
output/bvh/*.bvh
